# Django settings
SECRET_KEY=your-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Database settings
MYSQL_DATABASE=electrical_qa_db
MYSQL_USER=django_user
MYSQL_PASSWORD=django123
MYSQL_HOST=localhost
MYSQL_PORT=3306

# GEMINI settings
GEMINI_API_KEY=your-gemini-api-key